
<style>
.navigation{
    display : flex;
    flex-direction : row;
    background-color : black;
    clear: both;
	overflow: hidden;
	padding-top : 2%;
    
}

.logo{
   color : white ;
   font-size : 25px;
   padding-right : 5%;
   padding-left : 5%;
}
.logo span{
    color : rgb(255,179,32);
    font-size : 25px;
    float: right;
	margin-right: 170px;
}
ul li {
    
    flex-direction : row;
    color : white;
    font-size : 18px;
   	display: inline-block;
    margin-left: 50px;
    font-weight: 500;
    padding: 10px 5px;
}
ul li:hover{
    color : rgb(255,179,32);
}
.navigation .alogin{
    font-size : 17px;
    text-decoration : none;
    color : black;
    background-color : rgb(255,179,32);
    border : 1px solid rgb(255,179,32);
    border-radius : 50px;
    width : auto;
    text-align : center;
    padding-top : 8px;
    padding-right : 20px;
    padding-left : 20px;
    margin-right : 5%;
    margin-left : auto;
    margin-bottom : 20px;
}
hr{
    border : 0.5px solid rgb(255,179,32);
}


.logo{
    display : flex;
    flex-direction : row
}
.logo img {
    margin-top : -3%;
    width : 20%;
    height : 100%;
}

.btn-log{
    font-size : 17px;
    text-decoration : none;
    color : black;
    background-color : rgb(255,179,32);
    border : 1px solid rgb(255,179,32);
    border-radius : 50px;
    width : 100px;
    text-align : center;
    padding-top : 4px;
    padding-right : 20px;
    padding-left : 20px;
    padding-bottom : 5px;
    margin-left : auto;
    margin-bottom : 5px;
}
.placelog{
  margin-right : 5%;
  margin-left : auto;
}

</style>

<div class="navigation">
  <div class="logo"><img src="https://cdn2.vectorstock.com/i/thumbs/53/56/panther-head-vector-27995356.jpg"/><a href="/">E-<span>Sports</span></a></div> 
   

    <%if !(user_signed_in?) %>

      <ul>
      <li><a href="/">Home</a></li>
      <li><a href= '/home/contact'>Contact</a></li>
      <li><a href="/home/document">Tournament Streams</a></li>
      </ul>
      <a class="alogin" href="/users/sign_in">Login / Register</a>


    <% elsif  current_user && current_user.has_role?(:admin) %> 
      <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/matches">Matches</a></li>
      <li><a href="/teams">Team</a></li>
      <li><a href="/tournaments">Tournaments</a></li>
      </ul>
      <div class="placelog">  <%= button_to "Log out", destroy_user_session_path,method: :delete, :class => "btn btn-log"%></div>
    <%elsif  current_user && current_user.has_role?(:player)%>
      <ul>
      <li><a href="/matches">Matches</a></li>
      <li><a href="/teams">Team</a></li>
      </ul>
     <div class="placelog">  <%= button_to "Log out", destroy_user_session_path,method: :delete, :class => "btn btn-log"%></div>

    <%elsif  current_user && current_user.has_role?(:organisateur)%> 
      <ul>
      <li><a href="/matches">Matches</a></li>
      <li><a href="/teams">Team</a></li>
      <li><a href="/tournaments">Tournaments</a></li>
      </ul>
      <div class="placelog">  <%= button_to "Log out", destroy_user_session_path,method: :delete, :class => "btn btn-log"%></div>
  
    <%end%>
 
</div>
<hr>