<style>
.section{
    background-image: url("https://images.unsplash.com/photo-1531594835867-65b60cc9e4ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-repeat : no-repeat;
    background-size : cover;
    width : auto;
    height : 800px;
    
}
.section{
    color : white;
    font-size : 35px;
}
.texte{
   padding-top : 25%;
   padding-left : 5%;
}
.section span{
    color : rgb(255,179,32);
    padding-left : 10%;
}
.section .asection{
    text-decoration : none;
    font-size : 13px;
    font-weight : bold;
    color : black;
    background-color : rgb(255,179,32);
    border : 1px solid rgb(255,179,32);
    border-radius : 50px;
    width : 170px;
    text-align : center;
    margin-left : 10%;
    padding-left : 18px;
    padding-right : 18px;
    padding-bottom : 12px;
    padding-top : 10px;
}

.section .asection:hover{
  box-shadow : 2px 1px 12px 2px rgb(255,179,32);
  }

</style>

<div class="section">
<div class="texte">E-sport community</div>      

<span> management software</span></br>
<a class="asection" href="/home/document">Watch Streams</a>
</div>
</div>



