
<style>
.section{
    display : flex;
    flex-direction : row;
}
.partiedroite{
    background-image : url("https://images.unsplash.com/photo-1531594835867-65b60cc9e4ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    width : 50%;
    height : 600px;
    background-size : cover;
    background-repeat : no-repeat;    
}
.partiedroite h1, .partiedroite h2{
    font-size : 35px;
    font-weight : normal;
}
.textedroite{
    display : flex;
    flex-direction : column;
    padding-top : 50%;
}
.textedroite h1{
    color : white;
    padding-left : 10%;
}
.textedroite h2{
    padding-left : 20%;
    color : rgb(255,179,32);
}
.partiegauche{
    display: flex;
    flex-direction : column;
    margin-top : auto;
    margin-bottom : auto;
    width : 250px;
    margin-left : auto;
    margin-right : auto;
}
.partiegauche h1{
    font-size : 20px;
    text-align : center;
    padding-bottom : 7%;
}
.partiegauche input{
    border : 1px solid black;
    border-radius: 1px;
    display: block;
    padding: 6px 12px;
    width: 100%;
    margin-bottom : 5%;
    align-content : center;
    
}
.partiegauche a{

    margin-left : 9px;
    color: rgb(255,179,32);
    font-size : 15px;
    margin-bottom : 5%;
    display: block;
    padding-top:10px;
}
.partiegauche a:hover{
text-decoration:underline;
}

.partiegauche .lien{
    text-align : center ;
    background-color: rgb(255,179,32);
    border : 1px solid  rgb(255,179,32);
    border-radius : 50px;
    text-decoration : none;
    color : white; 
    font-size : 15px;
    
}
.partiegauche .lien:hover{
  box-shadow : 2px 1px 8px 2px rgb(255,179,32);
  }
 .text{
     font-family: Cursive;
     font-size : 20px;
    text-align : center;
    padding-bottom : 7%;
     
 } 
</style>
<div class="section">

<div class="partiedroite">
<div class="textedroite">
<h1>E-sport community</h1>
<h2>management software</h2>
</div>
</div>

<div class="partiegauche">
 <p class="text">Do not have an account?</p>

 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %> 
    <input type="text" placeholder="Email" id= <%= f.email_field :email%>
     <%= f.submit "Send me reset password instructions",:class => "lien" %>
 <%end%>
</div>
</div>

